<h1>hey {{username}}</h1>
<h2>welcome to your profile page</h2>

<div>
    <h4>profiel picture </h4>
</div>

<div>
    <ul>
        {{#each favorites}}
        <li>
            <a href="/recipe/{{this._id}}">{{this.title}}</a>
        </li>  
        {{/each}}
    </ul>
</div>


