<div class="horizontally-centered error-distance">
    <h1>Error. 🤔</h1>
    <p>Please go back to <a href="/home">Home</a>, there was a problem.</p>
    <img src="/images/error.png" alt="errorpage">
</div>