<div class="headText">
<h1>Home Restaurant Experience</h1>
<p>Welcome Dinah! You are at the right place if you want to create a restaurant home expierence !</p>
<h5> Choose your cuisine and check it out !</h5>
</div>


<div class="homepage">
    <div class="row">
    <div class="column">
        <a href="/">
            <h4>Chinese</h4>
        </a>
        <a href="/">
            <img src="images/chinese.jpg" alt="Chinese food" style="width:100%">
        </a>
    </div>
    <div class="column">
        <a href="/">
            <h4>American</h4>
        </a>
        <a href="/">
            <img src="images/american.jpg" alt="American food" style="width:100%">
        </a>
    </div>
    <div class="column">
        <a href="/">
            <h4>Middle Eastern</h4>
        </a>
        <a href="/">
        <img src="images/middlee.jpg" alt="middle eastern food" style="width:100%">
        </a>

    </div>
    <div class="column">
        <a href="/">
            <h4>Italian</h4>
        </a>
        <a href="/">
            <img src="images/italian.jpg" alt="Indian food" style="width:100%">
        </a> 
    </div>
    </div>
    <div class="row">
    <div class="column">
        <a href="/">
            <h4>Mexican</h4>
        </a>
        <a href="/">
            <img src="images/mexican.jpg" alt="mexican food" style="width:100%">
        </a>
    </div>
    <div class="column">
        <a href="/">
            <h4>Mediterranean</h4>
        </a>
        <a href="/">
            <img src="images/medi.jpg" alt="medi" style="width:100%">
        </a>
    </div>
    <div class="column">
        <a href="/">
            <h4>Indian</h4>
        </a>
        <a href="/">
            <img src="images/indian.jpg" alt="Indian food" style="width:100%">
        </a>
    </div>
    <div class="column">
        <a href="/">
            <h4>Japanese</h4>
        </a>
        <a href="/">
            <img src="images/japan.jpg" alt="japanese food" style="width:100%">
        </a>
        </div>
    </div>
</div>