<div class='headText'>
  <h1>Home Restaurant Experience</h1>
  <p>Welcome Dinah! You are at the right place if you want to create a
    restaurant home expierence !</p>
  <h5> Choose your cuisine and check it out !</h5>
</div>

<div class='homepage'>
  <div class='row'>
    <div class='column'>
      <a href='/cuisine/chinese'>
        <h4>Chinese</h4>
      </a>
      <a href='/cuisine/chinese'>
        <img src='images/chinese.jpg' alt='Chinese food' style='width:100%' />
      </a>
    </div>
    <div class='column'>
      <a href='/cuisine/american'>
        <h4>American</h4>
      </a>
      <a href='/cuisine/american'>
        <img src='images/american.jpg' alt='American food' style='width:100%' />
      </a>
    </div>
    <div class='column'>
      <a href='/cuisine/Middle Eastern'>
        <h4>Middle Eastern</h4>
      </a>
      <a href='/cuisine/Middle Eastern'>
        <img
          src='images/middlee.jpg'
          alt='middle eastern food'
          style='width:100%'
        />
      </a>

    </div>
    <div class='column'>
      <a href='/cuisine/italian'>
        <h4>Italian</h4>
      </a>
      <a href='/cuisine/italian'>
        <img src='images/italian.jpg' alt='Indian food' style='width:100%' />
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <a href='/cuisine/mexican'>
        <h4>Mexican</h4>
      </a>
      <a href='/cuisine/mexican'>
        <img src='images/mexican.jpg' alt='mexican food' style='width:100%' />
      </a>
    </div>
    <div class='column'>
      <a href='/cuisine/mediterranean'>
        <h4>Mediterranean</h4>
      </a>
      <a href='/cuisine/mediterranean'>
        <img src='images/mediterranean.jpg' alt='medi' style='width:100%' />
      </a>
    </div>
    <div class='column'>
      <a href='/cuisine/indian'>
        <h4>Indian</h4>
      </a>
      <a href='/cuisine/indian'>
        <img src='images/indian.jpg' alt='Indian food' style='width:100%' />
      </a>
    </div>
    <div class='column'>
      <a href='/cuisine/japanese'>
        <h4>Japanese</h4>
      </a>
      <a href='/cuisine/japanese'>
        <img src='images/japan.jpg' alt='japanese food' style='width:100%' />
      </a>
    </div>
  </div>
</div>
