<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
      integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class='topnav'>
      <div class='topnav-left'>
        <img class='logo' src='/images/logo-2.png' />
        <a class='active' href='/'>Home</a>

        {{#if isLoggedIn}}
        <a class='active' href='/profile'>Profile</a>
        <a href='/signout'>Signout</a>
        {{else}}
        <a href='/signout'>Signin</a>
        {{/if}}
      </div>

      <div class='topnav-right'>
        <div class='dropdown'>
          <img src='/icons/user.png' alt='user icon' />
          <div class='dropdown-content'>
            {{#if isLoggedIn}}
            <a href='/profile'>Profile</a>
            <a href='/signup'>Singin</a>
            {{else}}
            <a href='/signup'>Signup</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    {{{body}}}

    <footer class="card-footer footer-lay">Made by&nbsp;<a class="linkedin-ref" target="_blank"
        href="https://www.linkedin.com/in/anne-muller-/">Anne</a>&nbsp;&amp;&nbsp;<a class="linkedin-ref"
        target="_blank" href="https://www.linkedin.com/in/nevrakaya/">Nevra</a>
    </footer>

    <script src='/js/script.js'></script>
  </body>

</html>
