<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
      integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
      crossorigin='anonymous'
    />

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class='topnav'>
      <img class='logo' src='/images/logo-2.png' />
      <a class='active' href='/'>Home</a>


      {{#if isLoggedIn}}
      <div class='topnav-right'>         
         <div class="dropdown">
            <img src="/icons/user.png" alt="user icon" >
            <div class="dropdown-content">
               <a href="/profile">Profile</a>
               <a href="/signup">Singin</a>
            </div>
         </div>
      </div>
      {{else}}
      <div class='topnav-right'>         
         <div class="dropdown">
            <img src="/icons/user.png" alt="user icon" >
            <div class="dropdown-content">
               <a href="/signup">Signup</a>
            </div>
         </div>
      </div>


      {{/if}}

   </div>
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>
