<div class="horizontally-centered error-distance">
    <h1>Sorry Page Is Not Found. 🤔</h1>
    <p>Please go back to <a href="/">Home</a>, there was a problem.</p>
    <img src="/images/error.png" alt="errorpage">
</div>